<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.ja.finalproject.board.mapper.BoardSQLMapper">

	<insert id="writeContent">
		INSERT INTO FP_Board VALUES(
		FP_Board_seq.nextval,
		#{member_no},
		#{board_title},
		#{board_content},
		0,
		SYSDATE
		)<!-- 세미콜론 절대 금지 -->
	</insert>

	<select id="getContents"
		resultType="com.ja.finalproject.vo.BoardVO">
		SELECT * FROM FP_Board ORDER BY board_no DESC
	</select>

	<select id="getContentByNO"
		resultType="com.ja.finalproject.vo.BoardVO">
		select * from FP_Board where board_no= #{board_no}
	</select>

	<delete id="deleteContent">
		delete from FP_Board where board_no = #{board_no}
	</delete>

	<update id="updateContent">
		update FP_Board set board_title = #{board_title} ,
		board_content = #{board_content}
		where board_no = #{board_no}
	</update>
	
	<update id="increaseReadCount">
		update FP_Board 
		set board_readcount = board_readcount + 1 
		where board_no = #{board_no}
	</update>
</mapper>